body
    {
        text-align: center;
        color: black;
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
    }
.container
    {
        border: solid grey 1px;
        border-radius: 8px;
        height: auto;
        width: 78%;
        margin: 0 auto;
    }
.container h1
    {
        font-size: 24px;
    }
.container p
    {
        color: aqua;
    }
.container form
    {
        width: 200px;
        height: 200px;
        border: solid gray 1px;
        margin: 0 auto;
        margin-bottom: 20px;
    }