body
    {
        text-align: center;
        color: black;
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
    }
.container
    {
        border: solid grey 1px;
        border-radius: 8px;
        height: auto;
        width: 78%;
        margin: 0 auto;
    }
.container .cabecera
    {
        background-color: blueviolet;
        padding: 5px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        box-shadow: 0px 2px 20px 10px #c6c6c6;
    }
.container .cabecera p:nth-child(1)
    {
        color:papayawhip;
    }
.container .cabecera p:nth-child(2)
    {
        color:violet;   
    }
.container h1
    {
        font-size: 24px;
    }
.container p
    {
        color: aqua;
    }
.container form
    {
        width: 200px;
        height: 200px;
        border: solid gray 1px;
        margin: 0 auto;
        margin-bottom: 30px;
    }