body
    {
        text-align: center;
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
        background-image: linear-gradient( purple, pink, skyblue);
        width: 100%;
        height: 100vh;
    }
.container
    {
        border: solid grey 1px;
        border-radius: 8px;
        height: auto;
        width: 78%;
        margin: 0 auto;
    }
.container .cabecera
    {
        background-color: slateblue;
        padding: 2px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        border-radius: inherit;
        border: none;
        align-items: center;
    }
.container .cabecera figure img
    {
        width: 200px;
        height: 150px;
        border-radius: 4px;
    }
.container .cabecera p:nth-child(1)
    {
        color: papayawhip;
    }
.container .cabecera p:nth-child(2)
    {
        color:tomato;
    }
.container h1
    {
        font-size: 20px;
    }
.container .sub-title
    {
        color:rebeccapurple;
        font-size: 18px;
    }
.container .blog-content
    {
        display: flex;
        justify-content:space-evenly; 
    }
.container .blog-content form
    {
        width: 200px;
        height: 200px;
        border: solid gray 1px;
        margin-bottom: 30px;
        border-radius: 8px;
    }
.container .blog-content .text
    {
        font-size: 16px;
        width: 40%;
        font-family: 'Courier New', Courier, monospace;
    }
.textito
    {
        color: aqua;
    }